<header class="h-20 text-white bg-black flex items-center justify-between px-4 sm:px-6 lg:px-8">
  <h2 class="text-xl font-bold">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <nav class="flex items-center space-x-4">
    {% for link in section.settings.menu.links %}
      <a href="{{ link.url }}" class="relative text-gray-700 hover:text-gray-900 no-underline">
        {{ link.title }}
      </a>
    {% endfor %}
  </nav>

  <div class="flex items-center space-x-4">
    {% if shop.customer_accounts_enabled %}
      <a href="{{ routes.account_url }}" class="relative text-gray-700 hover:text-gray-900">
        {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
      </a>
    {% endif %}

    <a href="{{ routes.cart_url }}" class="relative text-gray-700 hover:text-gray-900">
      {% if cart.item_count > 0 %}
        <sup class="absolute -right-2 top-0 text-xs font-semibold">{{ cart.item_count }}</sup>
      {% endif %}
      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>


{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
